.Base { 
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContainerAll { 
    background-color: rgba(255, 255, 255, 0.945);
    margin-top: 30px;
    width: 450px;
    height: 450px;
}
.ContainerAllLogin { 
    background-color: rgba(255, 255, 255, 0.945);
    margin-top: 30px;
    width: 450px;
    height: 320px;
}

.register { 
    background-color: rgb(34, 145, 209);
    color: white;
    height: 45px;
    margin-bottom: 10px;
}


.btnR{ 
    color: white;
    background-color: rgb(34, 145, 209);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    width: 85px;
    height: 35px;
    margin-top: 15px;
  
}
.btnR:hover { 
    opacity: 0.8;
}

.ContainerAll label { 
    font-weight:600;
    margin-bottom: 8px;
}

.ContainerAll input { 
    width: 350px;
    height: 37px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: rgb(228, 222, 231);
}

.here { 
    color:  rgb(0, 96, 151);
    border: none;
    background-color: white;
}

.down {
    margin-top: 10px;
}

.ContainerAllLogin label { 
    font-weight:600;
    margin-bottom: 8px;
}

.ContainerAllLogin input { 
    width: 350px;
    height: 37px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-color: rgb(228, 222, 231);
}