.DivBuild {
   display: flex;
   align-items: center;
}

.ButtonsAndCards {
   width: 80%;
   margin-top: 150px;
}

.AllCards {
   margin-top: 10px;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.Card {
   display: flex;
}

.button {
   padding: 10px;
   font-size: 25px;
   margin-left: 25px;
   border: none;
   background: linear-gradient(55deg, rgba(255, 139, 31, 0.39), rgba(77, 184, 255, 0.39));
}

.Buttons {
   width: 300px;
   height: 300px;
   display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px
}

.Buttons img {
   width: 80%;
}

.displaynone{
   display: none;
}

.CompleteCards {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
}

.CompleteCards div {
   background-color: white;
   width: 200px;
   margin: 20px;
   border: solid 2px black;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.CompleteCards img {
   width: 60%;
   height: 40%;
}
.CompleteCards h2 {
   font-size: 15px;
   padding: 10px;
   margin: 10px;
}

.Priceh2 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}