@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Great+Vibes&family=Parisienne&display=swap');


.contenedor_card{
    box-shadow: 10px 10px 18px -14px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 18px -14px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 18px -14px rgba(0,0,0,0.75);
    background-color: #fff;
    margin-left: 3%;
    padding-left: 20px;
    padding-right: 40px;
    border-radius: 15px;
    display: grid;
    grid-template-areas: "img img img"
                        "precio precio precio"
                        "nombre nombre nombre"
                        "buttons compra compra";
    grid-template-columns: 55px;
    grid-template-rows: 70%, 20px, 20px, 30%;
    width: 300px;
    height: 400px;
    font-family: 'DM Sans', sans-serif;
    margin-top: 5%;
    position: relative;
}

.contenedor_card:hover img{
    transform: scale(1.2);
}

.Imagen{
    height: 150px;
    width: 150px;
    object-fit: contain;
}

.card_p_nombre{
    grid-area: nombre;
    margin-left: 4%;
    margin-right: 2%;
    font-size: 16px;
    margin-top: 0;
    text-align: justify;
}

.contenedor_card  img{
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 1s; 
}

.LinkImage {
    display: flex;
    justify-content: center;
    width: 80%;
    grid-area: img;
    margin-top: 20%;
    margin-left: 10%;
    margin-bottom: 20px;
}


.card_p_cantidad{
    margin-left: 1vw;
    margin-right: 1vw;
}

.card_strong_precio{
    font-size: 18px;
    grid-area: precio;
    margin-right: 60%;
    margin-top: 3%;
}

.card_contenedor_buttons{
    grid-area: buttons;
    display: flex;
    margin-left: 10%;
    margin-top: 10%;
}

.card_button_sumar, .card_button_restar{
border-radius: 50%;
width: 1.5vw;
height: 3vh;
border: 1px solid black;
background-color: inherit;
font-size: 1.8vh;
}
.card_button_sumar:hover, .card_button_restar:hover{
    background-color: #e7b8ff;
    border: 1px solid #e7b8ff;
}

.card_button_comprar{
    width: 120px;
    height: 40px;
    border-radius: 15px;
    border: none;
    grid-area: compra;
    margin-top: 0;
    margin-left: 30%;
    margin-bottom: 10%;
}

.card_button_comprar:hover{
    background-color: #e7b8ff;
    color: rgb(53, 0, 53);
}

.DivAllCards {
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    margin-bottom: 50px;
}


.ButtonCart{
    width: 100px;
    height: 30px;
    margin-left: 120px;
}