.shopping-cart.dark {
  background-color: #202020;
  color: #fff;
  padding: 60px 0;
}

.shopping-cart.dark .block-heading h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.shopping-cart.dark .block-heading p {
  margin-bottom: 40px;
}

.shopping-cart.dark .content {
  margin-top: 60px;
}

.shopping-cart.dark .product-details {
  padding-top: 20px;
}

.shopping-cart.dark .product-details h5 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
}

.shopping-cart.dark .product-details b {
  font-weight: bold;
  color: #fff;
}

.shopping-cart.dark .product-details .product-info {
  color: #999;
}

.shopping-cart.dark .product-details #unit-price {
  font-size: 24px;
  font-weight: bold;
}

.shopping-cart.dark .product-details label {
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}

.shopping-cart.dark .product-details input {
  width: 70px;
  text-align: center;
}

.shopping-cart.dark .summary {
  background-color: #272727;
  padding: 20px;
}

.shopping-cart.dark .summary h3 {
  font-size: 24px;
  color: #fff;
  margin-top: 0;
}

.shopping-cart.dark .summary-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.shopping-cart.dark .summary-item .text {
  color: #ccc;
  font-weight: bold;
}

.shopping-cart.dark .summary-item .price {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.shopping-cart.dark .summary button {
  margin-top: 20px;
}
