.DetailC{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 0;
    margin-top: 130px;
    height: 500px;
    width: 1000px;
    margin-bottom: 10rem;
    background-color: #ffffff;
    border-radius: 20px;
}

.DetailC img{
    width: 400px;
}


.Link {
    position: absolute;
    top: 40px;
    left: 120px;
    text-decoration: none;
    color: black;
}



.DataDiv {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content:flex-start;
    width: 45%;
}
.TypeBrandDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    gap: 40px;

}

@media only screen and (max-width: 1700px) {
    .DetailContainer {
        height: 35em;
        width: 90%;
    }
    .DetailContainer img{
        width: 450px;
    }
    .Link {
        left: 90px;
    }
  }