html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin: 0;
    margin-bottom: 40px;
  }

  .DivFooter{
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

.FooterContainer{
    background-color: #7200ca;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

.Footer{
    width: 100%;
    max-width: 120rem;
    padding: 0 60px;
    margin-top: 20px;
    margin-bottom: 30px;
}


.Description{
    color: white;
    margin-top: 20px;
}

.ContainerRedes{
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    color: white;
}

.Redes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    margin-left: 400px;
}



