.HomeContainer{
    top: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0efef;
    width: 100%;
}

.CardContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.ContainerImages{
    margin-top: 80px;
}