.HomeContainer{
    top: 100px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0efef;
    width: 100%;
}



.ContainerImages{
    margin-top: 80px;
}

.ContainerImages {
    width: 100%;
}

.CardContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}