.HomeContainer{
    margin-top: 80px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0efef;
    width: 100%;
}



section{
    position: relative;
    padding: 100px;
    width: 100%;
    min-height: 100vh;
    background: white;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.btnHome{
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin-top: 20px;
    border: 2px solid black;
    color: black;
    background: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 2px;
    transition: 0.25s;
}

.btnHome:hover{
    color: white;
    background: #c251fb;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h2{
    position: relative;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 22px;
    text-transform: uppercase;
    color: black;
}

.title p{
    margin-top: 40px;
    max-width: 700px;
    text-align: center;
}

.title h2:before{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 6px;
    background: black;
}


.post{
    position: relative;
    margin-bottom: 50px;
}

.post .contentBx{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-top: 20px;
}

.post .contentBx .postColumn{
    position: relative;
}

.post .contentBx .postColumn .postBox{
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 20px;
}

.post .contentBx .postColumn .postBox.extraHeight{
    height: 600px;
}

.post .contentBx .postColumn .postBox .textBox{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    transition: 0.25s;
    opacity: 0;
    visibility: hidden;
}

.post .contentBx .postColumn .postBox:hover .textBox{
    opacity: 0.9;
    visibility: visible;
}

.post .contentBx .postColumn .postBox .textBox h3 {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
}

.post .contentBx .postColumn .postBox .textBox .btn{
    padding: 4px 10px;
    background: black;
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.mgt60{
    margin-top: 60px;
}

