
.Products{
    margin-top: 100px;
}
.Marcas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.MarcaContainer{
    background-color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.MarcaContainer:hover{
    background-color: #e7b8ff;
}
.DivCardsFilters {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 680px){
    .DivCardsFilters{
        flex-direction: column;
        justify-content: center;
    }
    .CardContainer{
        justify-content: center;
    }
    .DivFilter{
        justify-content: center;
    }
}
@media screen and (max-width: 480px){
    .DivCardsFilters{
        flex-direction: column;
        justify-content: center;
    }
    .CardContainer{
        justify-content: center;
    }
    .DivFilter{
        justify-content: center;
        transform: translateX(30px);
    }
}


.DivFilter {
    padding: 20px;
    width: 300px;
    background-color: white;
    margin-top: 100px;
    border-radius: 10px;
    
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin-left: 60px;
    margin-right: 60px;
}
.CardContainer{
    margin-top: 88px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 40px;
}